
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('<%= cl_image_path 'fuhemi5aj0t9hdnjrssc' %>');">
  <div class="container banner-text">
    <h1>Casgrain Cocktails</h1>
    <p>Create and browse recipes!</p>
    <br>
    <%= link_to "Create a new cocktail", new_cocktail_path, class: "btn btn-info" %>
  </div>
</div>
</div>

<div class="container cocktail-list">
<h3 class="cocktail-header"><strong>Browse our cocktails</strong></h3>
  <div class="cards">
    <% @cocktail.each do |cocktail| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo, width: 400, height: 300, crop: :fill unless cocktail.photo.blank? %>');">
        <h2><%= link_to cocktail.name, cocktail_path(cocktail.id), class: "cocktail-name" %></h2>
      </div>
    <% end %>
  </div>
</div>

