
// index
// list of cocktails


.cocktail-header {
  padding-bottom: 20px;
}

.cocktail-name {
  color: white;
}

.cocktail-name:hover {
  text-decoration: none;
  color: rgba(255,255,255, 0.7);
}

.cocktail-list {
  padding: 50px 0px;
}

.browse-header {
  padding-bottom: 20px;
}

// new

.options {
  color: white;
}

// show

.cocktail-show {
  padding: 60px 0px;
}

.fa-trash {
  color: $gray;
  text-align: center;
}

.thead {
  border: none;
}

.table {
  padding: 0px 40px 40px 40px;
}

h4 {
  padding-bottom: 20px;
}


// show

.cocktail-show {
  padding: 60px 0px;
}


