.navbar-lewagon {
  justify-content: space-between;
  background: rgba(0,0,0, 0.7);
  color: white;
  position: absolute;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

li {
  padding: 0px 15px;
  color: white;
}

.logo {
  color: white;

}
